/*

Class Names

For the board:
  grid_background - background color for grid
  line_horizontal - all horizontal lines in the grid
  line_vertical - all vertical lines in the grid
  safety_rect - the safety rectangles
  center_square - the board center

For the tiles:
  tile_rect - the fill rectangle for the tiles
  tile_text - the tile character
  tile_points - the point value on the tiles

scoreboard_tiles_left - the text "Tiles Left"
scoreboard_tiles_left_value - the value of "Tiles Left"

*/

.swap_pop {
  display: none; 
  position: fixed;
  z-index: 99;
  flex-direction: row;
  left: 10%;
  top: 45%;
}
/* 
#swap_pop_ctrls {
  fill: none;
  display: flex; 
  flex-direction: column;
  font-size: 100%;
} */

form {
  text-align: center;
}

#grid_background {
  fill: #333333;
  /* fill: #feecdd; */
 }
.safety_square {
  fill: #555555;
}
.center_square {
  fill: #333333;
}
.center_text {
  font-size: 50%;
  stroke: #555555;
  font-family:  museo-sans, sans-serif;
}

.play_cls {
  fill: white;
  stroke: white;
}

.play_cls2 {
  fill: none;
  stroke: white;
  /* stroke-miterlimit: 10; */
  stroke-width: 6px;
}

#p1_vs_p2 {
  /* fill: white; */
  stroke: white;
  font-family:  museo-sans, sans-serif;
}

#player1_stats {
/* fill-rule: nonzero; */
fill: white;
stroke: white;
font-family:  museo-sans, sans-serif;
display: flex;
flex-direction: column;
}
#player2_stats {
fill: white;
stroke: white;
font-family:  museo-sans, sans-serif;
display: flex;
flex-direction: column;
}

.tile_text {
font-family:  museo-sans, sans-serif;
}
.tile_points {
font-family:  museo-sans, sans-serif;
font-size: 60%;
}

.safety_text {
font-family:  museo-sans, sans-serif;
font-size: 70%;
stroke : '#44bb55';
font-style: italic;
}
.scoreboard_rect {
fill : #eeeeee;
}

.controls:hover { 
cursor: pointer;
filter: invert(0.5) sepia(1);
}

#chat_send_text {
resize : none;
background-color: #dddddd;
}

#chat_cheat_text {
resize : none;
background-color: #dddddd;
}

#chat_text {
font-family:  museo-sans, sans-serif;
font-size:      10pt;
/* font-weight:    bold; */
background-color: #dddddd;
width: 290px;
height: 250px;
overflow-x: auto;
overflow-y: auto;
text-align: left;
padding: 2px;
}

/* **************** OBSOLETE ******************* */
/*

.scoreboard_tiles_left_value {
font: 16px italic;
stroke: red;
}

.scoreboard_title {
font-family: Tahoma, sans-serif;
stroke : #ff0000ff;
font-style: italic;
}

*/