/*
   Copyright 2021 Richard Vassilaros 
*/

body {
  width: 96%;
  height: 98%;
  display: flex;
  flex-direction: column;
}

p {
  color : black
}

.swap_pop {
  display: none; 
  position: fixed;
  z-index: 99;
  flex-direction: row;
  left: 10%;
  top: 45%;
}

#help_dialog {
  background-color: #dddddd;
  color: #333333;
  display: none; 
  position: fixed;
  z-index: 99;
  flex-direction: column;
  left: 10%;
  top : 10%;
  width: 80%;
  height: 80%;
  overflow: auto;
  padding: 5%;
}

.help_ctrls {
  width : 100%;
  padding-right: 40%;
  padding-left: 40%;
}

#help_ok_btn {

}
/* 
#swap_pop_ctrls {
  fill: none;
  display: flex; 
  flex-direction: column;
  font-size: 100%;
} */

#grid_background {
  fill: #333333;
  /* fill: #feecdd; */
 }
.safety_square {
  fill: #555555;
}
.center_square {
  fill: #333333;
}
.center_text {
  font-size: 50%;
  fill: #555555;
  stroke: #555555;
  font-family:  proxima-nova, sans-serif;
}

/* controls at bottom of board */
.ctrl_cls-1 {
    fill: #fff;
}
.ctrl_cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 5.21px;
}

.play_cls {
  fill: black;
  stroke: black;
}

.play_cls2 {
  stroke: white;
  /* stroke-miterlimit: 10; */
  stroke-width: 6px;
}

#p1_vs_p2 {
  /* fill: white; */
  stroke: white;
  font-family:  museo-sans, sans-serif;
}

#player1_stats {
fill: white;
stroke: white;
font-family:  museo-sans, sans-serif;
display: flex;
flex-direction: column;
}
#player2_stats {
fill: white;
stroke: white;
font-family:  museo-sans, sans-serif;
display: flex;
flex-direction: column;
}

.wild_tile {
  font-family: proxima-nova, sans-serif;
  font-size: 50%;
}
.tile_text {
font-family:  museo-sans, sans-serif;
}
.tile_points {
font-family:  museo-sans, sans-serif;
font-size: 60%;
}

.safety_text {
font-family:  museo-sans, sans-serif;
font-size: 70%;
stroke : '#44bb55';
font-style: italic;
}
.scoreboard_rect {
fill : #eeeeee;
}

.controls:hover { 
cursor: pointer;
filter: invert(0.5) sepia(1);
}

#chat_send_text {
resize : none;
background-color: #dddddd;
}

#chat_cheat_text {
resize : none;
background-color: #dddddd;
}

#chat_text {
font-family:  museo-sans, sans-serif;
font-size:      10pt;
/* font-weight:    bold; */
background-color: #dddddd;
width: 290px;
height: 250px;
overflow-x: auto;
overflow-y: auto;
text-align: left;
padding: 2px;
}
