/*
   Copyright 2021 Richard Vassilaros 
*/

body {
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
}

p {
  color : white;
  font-size: large;
}

li {
  /* padding : 5px; */
  font-size: large;
}

.swap_pop {
  background-color: black;
  transform: scale(1.5,1.5);
  display: none; 
  position: fixed;
  align-self: center;
  /* align-content: center; */
  z-index: 99;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 90%; */
  /* height: 50%; */
  /* left: 10%; */
  top: 15%;
}

.swap_btn {
  position: relative;
  top: -32;
  font-size: 105%;
  font-weight: bold;
} 
#swap_sel_all {
  position: relative;
  top: -41;
}
a {
  color :  #eb008b;
}

#help_dialog {
  background-color: #333333;
  color: white;
  display: none; 
  position: fixed;
  z-index: 99;
  flex-direction: column;
  align-self: center;
  /* left: 10%; */
  top : 10%;
  width: 80%;
  height: 80%;
  overflow: auto;
  padding: 3%;
}

#help_head1 {
  margin-top: 20px;
  color: white;
  font-size: largest;
  /* font-weight: 800; */
  width: 100%;
}

#help_rule_list {
  font-size: large;
}

.help_ctrls {
  width : 100%;
  padding-right: 40%;
  padding-left: 40%;
}

.button {
  width: 110px;
  height: 30px;
  border-radius: 7px;
  outline: none;
  border: none;
  /* padding-top: 20px; */
  font-size: 18pt;
  font-weight: 600;
  color: white;
  background-color:  #0072bc;
  cursor: pointer;
}

#grid_background {
  fill: #333333;
  /* fill: #feecdd; */
 }
.safety_square {
  fill: #555555;
}
.center_square {
  fill: #333333;
}
.center_text {
  font-size: 50%;
  fill: #555555;
  stroke: #555555;
  font-family:  proxima-nova, sans-serif;
}

/* controls at bottom of board */
.ctrl_cls-1 {
    fill: #fff;
}
.ctrl_cls-2 {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 5.21px;
}

.play_cls {
  fill: black;
  stroke: black;
}

.play_cls2 {
  stroke: white;
  /* stroke-miterlimit: 10; */
  stroke-width: 6px;
}

#p1_vs_p2 {
  /* fill: white; */
  stroke: white;
  font-family:  museo-sans, sans-serif;
}

#player1_stats {
fill: white;
stroke: white;
font-family:  museo-sans, sans-serif;
display: flex;
flex-direction: column;
}
#player2_stats {
fill: white;
stroke: white;
font-family:  museo-sans, sans-serif;
display: flex;
flex-direction: column;
}

.wild_tile {
  font-family: proxima-nova, sans-serif;
  font-size: 50%;
}
.tile_text {
font-family:  museo-sans, sans-serif;
}
.tile_points {
font-family:  museo-sans, sans-serif;
font-size: 60%;
}

.safety_text {
font-family:  museo-sans, sans-serif;
font-size: 70%;
stroke : '#44bb55';
font-style: italic;
}
.scoreboard_rect {
fill : #eeeeee;
}

.controls:hover { 
cursor: pointer;
filter: invert(0.5) sepia(1);
}

#chat_send_text {
resize : none;
background-color: #dddddd;
}

#chat_cheat_text {
resize : none;
background-color: #dddddd;
}

#chat_text {
font-family:  museo-sans, sans-serif;
font-size:      10pt;
/* font-weight:    bold; */
background-color: #dddddd;
width: 290px;
height: 250px;
overflow-x: auto;
overflow-y: auto;
text-align: left;
padding: 2px;
}
