body {
  /* background-image: url('./bridge_hero_large.jpg'); */
  padding: 0;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

div {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #aaaaaa;
  opacity: 50.0; 
}

#row1 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width : 100%;
  /* align-items: center; */
}

#welcome {
  display : flex;
  justify-content: center;
  width : 30%;
  /* align-items: center; */
}
#info {
  width : 30%;
}
#logout {
  width : 30%;
}

#row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width : 100%;
}

#all_users {
  display: flex;
  flex-direction: column;
  width : 30%;
}
.cur_user {
  display: flex;
  flex-direction: row;
}
#user_lists {
  display: flex;
  width : 60%;
}
#user_saved_games {
  display: flex;
  width : 50%;
  justify: left;
}

#user_active_games {
  display: flex;
  width : 50%;
  justify: right;
}

#all_active_games {
  display: flex;
  width : 100%;
  justify: center;
}
