/*
   Copyright 2021 Richard Vassilaros 
*/

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: museo-sans, sans-serif;
  font-style:normal ;
  background-color: black;
}

#all {
  /* margin: 5%; */
  background-color: black;
  align-self: center;
  display: flex;
  flex-direction: column;
  width : 80%;
  /* height : 90%; */
  max-width: 600px;
}

#control_pnl {
  display: flex;
  flex-direction: column;
  margin: 7%;
}

/* #logout { */
  /* padding-top: 15%; */
/* } */

#welcome {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  /* display: flex; */
  /* margin-bottom: 5px; */
}

#help_dialog {
  background-color: #333333;
  color: white;
  display: none; 
  position: fixed;
  z-index: 99;
  flex-direction: column;
  left: 10%;
  right: 10%;
  top : 10%;
  /* width: 80%; */
  height: 80%;
  overflow: auto;
  padding: 5%;
}

p {
  font-size: medium;
}

.help_head1 {
  font-size: larger;
}

a {
  color :  #eb008b;
}

.help_ctrls {
  width : 100%;
  padding-right: 40%;
  padding-left: 40%;
}

#help_ok_btn {
  background-color:  #0072bc;
}

#help_btn {
  font-size: 8pt;
  outline: none;
  border: none;
  margin-top: 10px;
  float: left;
  color: white;
  background-color: black; 
  cursor: pointer;
}

.logout_button {
  font-size: 8pt;
  float: right;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  cursor: pointer;
}

#games {
  font-size: 8pt;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width : 100%;
}

.button {
  width: 110px;
  height: 30px;
  border-radius: 7px;
  outline: none;
  border: none;
  /* padding-top: 20px; */
  font-size: 18pt;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.sub_label {
  margin-top: 40px;
  color: white;
  font-size: 12pt;
  font-weight: 800;
  width: 100%;
}

.descrip {
  font-weight: 600;
  color: gray;
  font-size: 8pt;
}

/* red buttons */
#games_btn {
  font-size: 8pt;
  margin-top: 5px;
  color: white;
  background-color: #eb008b;
}

#delete_game_btn {
  font-size: 8pt;
  color: white;
  outline: none;
  border: none;
  margin-top: 10px;
  float: right;
  background-color: black;
  cursor: pointer;
}

/* blue buttons */
#play_pickup_btn, #add_pickup_btn  {
  font-size: 8pt;
  margin-top: 5px;
  color: white;
  background-color:  #0072bc;
}

#pickup_lst, #games_lst {
  padding: 7px;
  color: lightgrey;
  background-color: #333333;
  outline: none;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
} 

#practice_btn {
  margin-top: 10px;
  font-size: 8pt;
  color: white;
  background-color:  #449944;
}