body {
  /* background-image: url('./bridge_hero_large.jpg'); */
  /* background-color: grey; */
  padding: 0;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  /* opacity: 99;  */
}

div {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #aaaaaa;
  /* opacity: 0.0; */
}

#row1 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width : 90%;
  /* align-items: center; */
}

#welcome {
  display : flex;
  justify-content: center;
  width : 90%;
  /* align-items: center; */
}
#info {
  width : 40%;
}

#row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width : 90%;
  /* align-items: center; */
}

#saved_games {
  width : 40%;
  justify: left;
}

#active_games {
  width : 40%;
  justify: right;
}

#buttons {
  display: flex;
}

#row4 {
  display: flex;
  justify-content: center;
  width: 90%;
  /* align-items: center; */
}

#practice {
  width : 40%;
  justify-content: center;
}

#pickups {
  width : 40%;
  justify-content: center;
}

#wait4 {
  width : 40%;
}
