body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: museo-sans, sans-serif;
  font-style:normal ;
  background-color: #555555;
}

.button {
  height: 30px;
  border-radius: 7px;
  width: 100px;
  cursor: pointer;
  border: none;
  outline: none;
}

.label {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 800;
  color: white;
}

.sub1 {
  font-weight: 400;
  color: white;
  font-size: 14px;
}

.all {
  margin: 5%;
  background-color: black;
  align-self: center;
  display: flex;
  flex-direction: column;
  width : 80%;
  height : 90%;
  max-width: 600px;
  /* background-color: black; */
}

.control_pnl {
  margin: 7%;
}

.welcome {
  font-size: 20px;
  font-weight: 800;
  color: white;
  display: flex;
  margin-bottom: 5px;
}

#logout {
  display: inline;
  align-items: flex-end;
}

.logout_button {
  font-size: 10pt;
  float: right;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  cursor: pointer;
}

#games {
  font-size: 10pt;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width : 100%;
}

/* red buttons */
#games_btn {
  font-size: 10pt;
  width: 80px;
  margin-top: 5px;
  color: white;
  background-color: #eb008b;
}

#delete_game_btn {
  color: white;
  outline: none;
  border: none;
  margin-top: 10px;
  float: right;
  background-color: #555555;
  cursor: pointer;
}

/* blue buttons */
#play_pickup_btn, #add_pickup_btn  {
  font-size: 10pt;
  width: 100px;
  margin-top: 5px;
  color: white;
  background-color:  #0072bc;
}

#add_pickup_btn {
  width: 130px;
}
#pickup_lst, #games_lst {
  padding: 7px;
  color: white;
  background-color: #333333;
  /* margin: 5px; */
  /* border-radius: 10px; */
  width: 100%;
  cursor: pointer;
} 

#practice_btn {
  font-size: 10pt;
  color: white;
  background-color:  #449944;
}