//- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap,Tailwind CSS which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs.
doctype html
html(lang="en")
  head
    title Welcome to Word Heist!
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='views/welcome.css')
  body
    #error
      if error == "error_password"
        div.label Error with password or user name!
    #both
      #first
        form(action="login")
          div.label Welcome to Word Heist! Please login
          div.username
            input(type="text" name="username" placeholder="username")
          div.password
            input(type="password" name="password" placeholder="password")
          div.submit
            button(type="submit") login
                
      #second
        form(action="register")
          div.label or register
          div.reg_username
            input(type="text" name="username" placeholder="username")
          div.reg_displayname
            input(type="text" name="displayname" placeholder="displayname")
          div.reg_password
            input(type="password" name="password" placeholder="password")
          div.reg_email
            input(type="text" name="email" placeholder="foo@bar.com")
          div.reg_submit
            button(type="submit") register
