/* */

body {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  background-color: #555555;
}

.error_label {
  font-weight: 800;
  background-color: black;
  color: red;
  margin-left: 10%;
}

#both {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 70%;
  height: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 600px;
}

#top_label {
  margin-left: 19%;
  align-self: left;
  padding-top: 15px;
  font-weight: 800;
  font-size: 40px;
  color: white;
}

#first {
  align-self: center;
  width: 70%;
  margin-left: 10%;
  padding-top: 20px;
}

.section_label {
  font-weight: 800;
  font-size: 14px;
  color: white;
}

#second {
  width: 70%;
  margin-left: 10%;
  margin-bottom: 20px;
  align-self: center;
  padding-top: 30px;
}

form {
  height: 80%;
  width: 80%;
}

.in_fields {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 20px;
  background-color: #333333;
}

.buttons {
  height: 30px;
  margin-top: 10px;
  width: 80px;
  color: white;
  border-radius: 10px;
}

#login_submit {
  background-color: #eb008b;
}

#new_submit {
  background-color: #0072bc;
}