doctype html
html(lang="en")
  head
    title Welcome to Word Heist!
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width), initial-scale=1.0')
    link(rel='stylesheet', href='views/welcome.css')
    link(rel="stylesheet" href="https://use.typekit.net/cdx8egk.css")
  body
    #error
      if error == "error_reg_pass"
        div.error_label Error: passwords don't match!
      else if error == "error_reg_email"
        div.error_label Error: please enter valid email!
      else if error == "error_reg_display_name"
        div.error_label Error: please enter an alias for other players to see (display name)!
      else if error == "error_reg_prior"
        div.error_label Error: user already registered!
      else if error == "error_reg_success"
        div.error_label Congratulations! You may now login!
      else if error == "error_password"
        div.error_label Error: with password or user name!
      else if error == "error_login"
        div.error_label Error: User already logged in!

    #both
      div#top_label Hello!
      #first
        div.section_label Login
        form(action="login")
          div.username
            input(type="text" class="in_fields" name="username" autocapitalize="off" placeholder="username")
          div.password
            input(type="password" class="in_fields" name="password" placeholder="password")
          div.submit
            button(type="submit" id="login_submit" class="buttons" ) LOGIN
                
      #second
        form(action="register")
          div.section_label New Player?
          div.reg_username
            input(type="text" class="in_fields" name="username" placeholder="user name (your private login name)")
          div.reg_displayname
            input(type="text" class="in_fields" name="displayname" placeholder="display name (other players see this)")
          div.reg_password
            input(type="password" class="in_fields" name="password" placeholder="password")
          div.reg_password2
            input(type="password" class="in_fields" name="password2" placeholder="retype password")
          div.reg_email
            input(type="text" class="in_fields" name="email" placeholder="email (foo@bar.com)")
          div.reg_submit
            button(type="submit" id="new_submit" class="buttons" ) CREATE ACCOUNT
