//-
//- Copyright 2021 Richard Vassilaros 
//-

doctype html
html(lang="en")
  head
    title Let's Quibble! A Scr*bble-like word game.
    meta(name="description" content="Let's Quibble builds words like Scr*bble but lets players capture their opponent's tiles and points.")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width), initial-scale=1.0')
    link(rel='stylesheet', href='views/welcome.css')
    //- link(rel="stylesheet" href="https://use.typekit.net/cdx8egk.css")
  body

    #error
      if error == "error_bad_invitation_id"
        div.error_label Error: unrecognized invitation!
      else if error == "invitation_accepted"
        div.error_label Your invitation was accepted; you may now register and/or login
      else if error == "error_reg_pass"
        div.error_label Error: passwords don't match!
      else if error == "error_reg_email"
        div.error_label Error: please enter valid email!
      else if error == "error_reg_display_name"
        div.error_label Error: please enter an alias for other players to see (display name)!
      else if error == "error_reg_prior"
        div.error_label Error: Player already registered!
      else if error == "error_reg_success"
        div.error_label Thanks for registering - you may now login
      else if error == "error_password"
        div.error_label Error: with password or Player name!
      else if error == "error_login"
        div.error_label Error: invalid password!
      else if error == "error_user_logged_out"
        div.error_label Warning: Player is logged out!

    #both
      span#info
        input(id="about_btn" type="button" value="About" onClick="show_about();")
        a(id="mail_link" href="mailto:letsquibble878@gmail.com") Contact Us


      div#top_label Let's Quibble!

      div#about_dialog.about 
        p Free to play, Let's Quibble combines the word-building of Scr*bble with the excitement and deep satisfaction of capturing your opponent's tiles and points. Capture tiles by building new words; adding prefixes, suffixes, intersections and adjacencies. 
        p No hidden costs, no ads, no tokens. Accept no substitutes and beware sound-alikes!
        p Please note: this is NOT a secure website; it is, after all, just a game. We don't require any personal identifying information to register. Just a unique Player-name (only the system sees this), a name to show other players (please do not use your real full name), and an email address (we recommend a free hotmail, gmail or other dedicated email account). 
        p Your email address is used by the game to deliver invitations to play from other players and friends. Occasionally, the system will email a notification; usually a temporary shutdown notice for new code.
        p Please, DO NOT use a password that you also use elsewhere. Passwords are stored hashed but there are various attacks that can be used to aquire your password.
        p Have fun playing!
        div#about_ctrls
          input(id="about_ok_btn" type="button" class="buttons" onClick="hide_about()" value="OK") 

      #first
        div.section_label Login
        form(action="login")
          input(id="invitation_id" name="invitation_id" type="hidden" value=invitation_id)
          div.username
            input(type="text" class="in_fields" name="username" autocapitalize="off" placeholder="Player Name")
          div.password
            input(type="password" class="in_fields" name="password" placeholder="Password")
          div.submit
            button(type="submit" id="login_submit" class="buttons" ) LOGIN
        
        form(action="forgot")
          input(id="forgot_pw" type="submit" value="(forgot password? click here)" )
                
      #second
        form(action="register")
          input(id="reg_invitation_id" name="invitation_id" type="hidden" value=invitation_id)
          div.section_label New Player?
          div.reg_username
            input(type="text" class="in_fields" name="username" placeholder="Player Name (Your Private Login Name)")
          div.reg_displayname
            input(type="text" class="in_fields" name="displayname" placeholder="Display Name (Other Players See This)")
          div.reg_email
            input(type="text" class="in_fields" name="email" placeholder="Email Address")
          div.reg_password
            input(type="password" class="in_fields" name="password" placeholder="Password")
          div.reg_password2
            input(type="password" class="in_fields" name="password2" placeholder="Re-type Password")
          div.reg_submit
            button(type="submit" id="new_submit" class="buttons" ) SIGN UP!

  script. 
    function show_about() {
      let dia=document.getElementById("about_dialog");
      dia.style.display = "block";
    }
    function hide_about() {
      let dia=document.getElementById("about_dialog");
      dia.style.display = "none";
    }