/* */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  background-color: #333333;
}


div {
  /* padding: 5; */
}

.error_label {
  font-weight: 800;
  background-color: black;
  color: red;
  margin-left: 10%;
}

#top_label {
  padding-top: 15px;
  font-weight: 800;
  font-size: 48px;
  color: white;
  margin-left: 10%;
}

.section_label {
  font-weight: 500;
  font-size: 22px;
  color: white;
}

#both {
  align-self: center;
  background-color: #333333;
  width: 90%;
  height: 90%;
  max-width: 600px;
}

#first {
  padding-top: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  margin-left: 10%;
}

#second {
  padding-top: 30px;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  margin-left: 10%;
}

form {
  height: 100%;
  width: 100%;
}

.in_fields {
  font-size: 14px;
  padding-top: 5px;
  padding-left: 15px;
  margin: 5px;
  border-radius: 10px;
  width: 80%;
  height: 30px;
}

#login_submit {
  width: 200px;
  color: white;
  background-color: #f179af;
}

#new_submit {
  width: 200px;
  color: white;
  background-color: #44c7f4;
}